@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Montserrat+Subrayada&display=swap');

* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
    
}
body::-webkit-scrollbar {
    display: none;
  }

:root {
    --main-color : #F8F8F9;
    --brighter :  #30698d;
    --background1 : #2F4858;
    --background2 : #FEFEFF;

}

body {
    height: 100vh;
}


header{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* position: fixed; */
    top: 0;
    transition: 0.6s;
    background: var(--background1)
    
}

nav{
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    font-family: "PT Serif";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: transform 0.5s;
}

li a {
    color: rgb(252, 251, 251);
    text-decoration: none;
    transition: 0.5s;
}

li {
    transition: 0.6s;
}

li:hover {
    transform: scale(1.1);
}

a:visited{
  color: rgb(250, 250, 250);
}



.pres {
    width: 100%;
    height: 93.5%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    position: relative;
}

.pres:before {
    content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  background: url(./background.jpg) center fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-40%);
    width: 100px;
    height: 100px;
    border-radius: 70px;
    font-family: "PT serif";
    letter-spacing: 1px;
    box-shadow: 2px 2px 3px var(--brighter);
    border: 1px solid var(--main-color);
    transition: 0.5s;
    z-index: 1;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 4px var(--brighter);
}


.ing-container-left {
    height: 80%;
    width: 30%;
    left: -30%;
    background: #e3dab2;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 10%;
    display: flex;
    position: absolute;
}

.ing-container-left-open {
    height: 80%;
    width: 20%;
    left: 7%;
    background: #e3dab2;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 10%;
    display: flex;
    position: absolute;
}

.ing-btn-left{
    position: absolute;
    width: 60px;
    height: 20%;
    border-radius: 17px;
    background:#e3dab2;
    right: -30px;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 33px;
    font-weight: 900;
    font-size: 120%;
    transition: .5s;
}

.ing-btn-left:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.ing-container-right {
    height: 80%;
    width: 30%;
    right: -30%;
    background: #e3dab2;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 10%;
    display: flex;
    position: absolute;
}

.ing-container-right-open {
    height: 80%;
    width: 20%;
    right: 8%;
    background: #e3dab2;
    position: absolute;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 10%;
    display: flex;
    
}

.ing-btn-right{
    position: absolute;
    width: 60px;
    height: 20%;
    border-radius: 17px;
    background:#e3dab2;
    left: -30px;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 7px;
    font-weight: 900;
    font-size: 120%;
    transition: .5s;
}


.ing-btn-right:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.legume-btn {
    top: 20%;
}

.oignon-btn {
    top: 40%;
}

.aromate-btn {
    top: 60%;
}

.epice-btn {
    top: 80%;
}

.liquide-btn{
    top: 20%;
}

.gras-btn{
    top: 60%
}

.fromage-btn{
    top: 80%;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30%;
}

input:hover {
    cursor: pointer;
}

input[type=checkbox] {
    transform: scale(1.4);
}

label{
    font-family: 'Chivo Mono', monospace;
    font-style: italic;
    font-size: 1.1rem;
}

.receipe-container{
    z-index: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.receipe-suggestion {
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 130px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 0.4rem;
    transition: 0.5s;
    box-shadow: 1px 1px 1px black;
    margin-left: 25px;
}

.receipe-suggestion-img {
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
  }

.receipe-suggestion:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}

.receipe-suggestion-title{
    font-family: "PT Serif";
    color: whitesmoke;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
text-transform: uppercase;
letter-spacing: 3px;
    
}
