@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Montserrat+Subrayada&display=swap');

* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

:root {
    --main-color : #F8F8F9;
    --brighter :  #30698d;
    --background1 : #2F4858;
    --background2 : #FEFEFF;

}

body {
    height: 100vh;
}


header{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200vh;
    position: fixed;
    top: 0;
    transition: 0.6s;
    background: var(--background1)
    
}

nav{
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    font-family: "PT Serif";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: transform 0.5s;
}

li a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

li {
    transition: 0.6s;
}

li:hover {
    transform: scale(1.1);
}

a:visited{
  color: black;
}



.pres {
    background: url(./background.jpg) center/cover fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-top: 60px;
    position: relative;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    border-radius: 70px;
    font-family: "PT serif";
    letter-spacing: 1px;
    box-shadow: 2px 2px 3px var(--brighter);
    border: 1px solid var(--main-color);
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 4px var(--brighter);
}


.ing-container-left {
    height: 80%;
    width: 30%;
    left: -30%;
    background: #e3dab2;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 10%;
    display: flex;
    position: absolute;
}

.ing-container-left-open {
    height: 80%;
    width: 30%;
    left: 10.3%;
    background: #e3dab2;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 10%;
    display: flex;
    position: absolute;
}

.ing-btn-left{
    position: absolute;
    width: 100px;
    height: 20%;
    border-radius: 17px;
    background:#e3dab2;
    right: -45px;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 60px;
    font-weight: 900;
    font-size: 150%;
    transition: .5s;
}

.ing-btn-left:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.ing-container-right {
    height: 80%;
    width: 30%;
    right: -30%;
    background: #e3dab2;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 10%;
    display: flex;
    position: absolute;
}

.ing-container-right-open {
    height: 80%;
    width: 30%;
    right: 10%;
    background: #e3dab2;
    position: absolute;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 10%;
    display: flex;
    
}

.ing-btn-right{
    position: absolute;
    width: 100px;
    height: 20%;
    border-radius: 17px;
    background:#e3dab2;
    left: -40px;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 10px;
    font-weight: 900;
    font-size: 150%;
    transition: .5s;
}


.ing-btn-right:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.legume-btn {
    top: 20%;
}

.oignon-btn {
    top: 40%;
}

.aromate-btn {
    top: 60%;
}

.epice-btn {
    top: 80%;
}

.liquide-btn{
    top: 20%;
}

.gras-btn{
    top: 60%
}

.fromage-btn{
    top: 80%;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30%;
}

input:hover {
    cursor: pointer;
}

input[type=checkbox] {
    transform: scale(1.4);
}

label{
    font-family: 'Chivo Mono', monospace;
    font-style: italic;
    font-size: 1.5rem;
}

.receipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.receipe-suggestion {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.receipe-suggestion-img {
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
  }

.receipe-suggestion:hover {
    cursor: pointer;
}

.receipe-suggestion-title{
    font-family: 'Montserrat Subrayada';
    color: whitesmoke;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:black;

    
}
