@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

:root {
    --main-color : #F8F8F9;
    --brighter :  #30698d;
    --background1 : #2F4858;
    --background2 : #FEFEFF;

}


header{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.6s;
    background: var(--background1)
    
}

nav{
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    font-family: "PT Serif";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transition: transform 0.5s;
}

li a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

li {
    transition: 0.6s;
}

li:hover {
    transform: scale(1.1);
}

a:visited{
  color: black;
}



.pres {
    background: url(./background.jpg) center/cover fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding-top: 100px;
}

.ingredients-left {
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}



.ing-container-left {
    height: 80%;
    width: 60%;
    background: #e3dab2;
    left: -60%;
    position: relative;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 0%;
    display: flex;
}

.ing-container-right {
    height: 80%;
    width: 60%;
    background: #e3dab2;
    left: 100%;
    position: relative;
    border-radius: 20px;
    opacity: 0.9;
    transition: 0.6s;
    top: 30px;
    display: flex;
}

.ing-btn-left{
    position: absolute;
    width: 100px;
    height: 150px;
    border-radius: 17px;
    background:#e3dab2;
    right: -45px;
    writing-mode: vertical-lr;
    text-align: center;
    padding-left: 60px;
    font-weight: 900;
    font-size: 2rem;
    transition: .5s;
}

.ing-btn-left:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.ingredients-right {
    overflow: hidden;
}

.ing-btn-right {
    position: absolute;
    width: 100px;
    height: 150px;
    border-radius: 17px;
    background:#e3dab2;
    left: -45px;
    writing-mode: vertical-rl;
    text-align: center;
    padding-right: 53px;
    font-weight: 900;
    font-size: 2rem;
    transition: .5s;
}

.ing-btn-right:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.feculent {
    top: 30px;
}

.legume {
    top: -756px;
}

.legume-btn {
    top: 150px;
}

.oignon {
    top: -1544px;
}

.oignon-btn {
    top: 302px;
}


.aromate {
    top: -2331px;
}

.aromate-btn {
    top: 452px;
}


.epice {
    top: -3117px;
}

.epice-btn{
    top: 602px;
}

.liquide{
    top: 30px;
    left: 100%;
}


.liquide-btn{
    
    top: 0px;
}


.gras {
    top: -756px;
}

.gras-btn {
    top: 150px;
}


.viande {
    top: -1543px;
}

.viande-btn {
    top: 453px;
}

.fromage{
    top: -2330px;
}

.fromage-btn {
    top: 603px;
}


input:hover {
    cursor: pointer;
}

input[type=checkbox] {
    transform: scale(1.4);
}

label{
    font-family: 'Chivo Mono', monospace;
    font-style: italic;
    font-size: 1.5rem;
}

.recette {
    display: flex;
    justify-content: space-around;
}


.right-side-ticket {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-top: 20px;
    position: relative;
    top: -150px;
    
}

.ticket, .ticket2, .ticket3, .ticket4{
    position: absolute;
    top: -150px;
    left: 680px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    align-self: center;
    border: 1px solid var(--brighter);
    box-shadow: 1px 1px 5px var(--main-color);
    line-height: 20px;
    transition: ease-in-out 0.5s;
    border-radius: 8px;
    height: 100px;
    visibility:hidden;
    opacity: 0;
    transition: visibility 0, opacity 1s ease-in-out; 
}

.ticket{
 background: url(./Purée.jpg) center/cover;
    font-family: "Chivo mono", serif;
color: rgb(155, 104, 3);
    letter-spacing: 5px;
}



.ticket:hover,.ticket2:hover, .ticket3:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px var(--brighter);
 }

 .ticket2{
    background: url(./risotto.jpg) center/cover;
 }
ol {
    margin: 10px;
    line-height: 25px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    border-radius: 70px;
    font-family: "PT serif";
    letter-spacing: 1px;
    box-shadow: 2px 2px 3px var(--brighter);
    border: 1px solid var(--main-color);
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 4px var(--brighter);
}


